{erl_opts, [warnings_as_errors,
            warn_export_all]}.
{eunit_opts, [{i, "src"}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{xref_checks, [fail_on_warning, undefined_function_calls]}.
{clean_files, [".eunit/*", "ebin/*.beam", ".test/*.beam"]}.

{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}.

{deps,
 [
    {proper, ".*",
     {git, "git://github.com/accense/proper.git", {branch, "master"}}},

    {meck, ".*",
     {git, "git://github.com/accense/meck.git", {branch, "master"}}},

    {covertool, ".*",
     {git, "git://github.com/accense/covertool.git", {branch, "master"}}}

  ]
}.
